@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@900&display=swap');
html, body{
    width: 98vw;
    height: 98%;
    font-family: 'Open Sans', sans-serif;
}
.title,.author,.intro-head{
    text-align: center;
}
.title{
    font-family: 'Roboto', sans-serif;
}
.intro-head{
    text-decoration: underline;
}
.intro{
    line-height: 25px;
    transform: translateX(1vw);
}
.btn{
    width: 100px;
    height: 35px;
    background-color: rgb(243, 243, 243);
    color: black;
    text-decoration: none;
    position: absolute;
    left: calc(49vw - 35px);
    border-radius: 150px;
}